.mat-line {
    color: white;
}

.mat-icon{
    color: white;
}

.mat-list{
    padding-top: 0px;
}

.proxima-partida{
    margin-top: 20px;
}

h3{
    margin-left: 20px;
    margin-bottom: 0px;
    padding: 0;
    color: white;
}