
<div flex fxLayout="column">
    <div fxFlex="100">            
            <mat-tab-group>
                    <div *ngFor="let detalheDestino of horariosDestinos">
                        <mat-tab label="{{detalheDestino.destino.nome}}">
                            <mat-list>
                                <div class="proxima-partida">
                                    <p>Partindo para <span>{{detalheDestino.destino.nome}}</span> em <span> {{detalheDestino.proximaPartida}} </span></p>
                                </div>
                                <mat-list-item *ngFor="let horario of detalheDestino.horariosVisualizacao">
                                  <mat-icon mat-list-icon>date_range</mat-icon>
                                  
                                    <h4 mat-line>{{detalheDestino.destino.nome}}</h4>
                                    <p mat-line style="font-weight: bold;"> {{horario}} </p>  
                                </mat-list-item>
                               </mat-list>
                        </mat-tab>
                    </div>
            </mat-tab-group>
            <button mat-fab class="botaoVoltar" (click)="irParaHome()" color="primary">
                <mat-icon >arrow_back</mat-icon>
            </button>    
    </div>            
</div>
