
<mat-card *ngFor="let linha of linhas"> 
  <mat-card-title>{{linha.origemLinha}}</mat-card-title>
  <mat-card-subtitle>Próxima partida {{linha.proximoHorario}} </mat-card-subtitle>
  <img mat-card-image src="{{linha.imageUrl}}"  (click)="obterDetalhes(linha.id)">
  <mat-card-actions>
      
      <button mat-raised-button color="primary" (click)="obterDetalhes(linha.id)">
          <mat-icon>list</mat-icon>Próximos horários
      </button>
      <button mat-raised-button color="primary" >
          <mat-icon>share</mat-icon>
      </button>
      
  </mat-card-actions>
</mat-card>