<div class="site">
    <div class="cabecalho">
      <mat-toolbar color="primary">
            <span>{{title}}</span>
          
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>
          
            <button mat-button (click)="compartilhar()">
                 <mat-icon >share</mat-icon> Compartilhar
            </button>
      </mat-toolbar>
    </div>

    <main class="content">
      <router-outlet  (activate)="onActivate($event)"></router-outlet> 
    </main>
    <div class="rodape">
        <p>Alan Luiz Viana - <a href="https://github.com/alanlviana/itabus">https://github.com/alanlviana/itabus</a></p>
      </div>
</div>




