  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .rodape{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
  }

  .rodape p{
    margin: 0;
  }

  .rodape a{
    color: white;
    text-decoration: underline;
  }

  .container{
    margin-left: 10px;
    margin-right: 10px;
  }

  .site{
    display: flex;
    flex-direction: column;
    min-height: 99.8vh;
  }
  .content{
    flex: 1;
  }