<mat-toolbar color="primary">
        <span>Itabus</span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
      
        <button [style.visibility]="exibeBotaoLinhas() ? 'visible' : 'hidden'" mat-button (click)="irParaLinhas()">
            Todas as Linhas <mat-icon >airport_shuttle</mat-icon>
        </button>
      </mat-toolbar>

<router-outlet  (activate)="onActivate($event)"></router-outlet>

<div class="rodape">
  <p>Alan Luiz Viana - <a href="https://github.com/alanlviana/itabus">https://github.com/alanlviana/itabus</a></p>
</div>

