<div style="margin: 10px 10px 10px 10px">

    <div flex fxLayout="column">
        <div fxFlex="100">
            <mat-form-field class="input-site">
                <mat-label>Endereço</mat-label>
                <input type="text" #enderecoInput readonly matInput value="https://itabus.alanlviana.com.br/">
                <mat-icon (click)="copiarEndereco(enderecoInput)" matSuffix>file_copy</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex="100">
            <div class="qrcode">
                <img src="/assets/qrcode-itabus.png"/>
            </div>
        </div>
        <div fxFlex="100">
            <a href="https://wa.me/?text=Estou%20usando%20esse%20aplicativo%20para%20ter%20os%20hor%C3%A1rios%20dos%20%C3%B4nibus%20e%20vans%3A%0Ahttps%3A%2F%2Fitabus.alanlviana.com.br" data-action="share/whatsapp/share">
                <button class="botaoWhatsapp" mat-flat-button><mat-icon>group</mat-icon> Compartilhar no WhatsApp</button>
            </a>
        </div>
    </div>

    <button mat-fab class="botaoVoltar" (click)="irParaHome()" color="primary">
        <mat-icon >arrow_back</mat-icon>
    </button>   


</div>
